extends layout

block content
    - var titleCase = function (str) {
    -    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    - };
    .w3-card-4
        header.w3-container.w3-teal
            h1 Programação de #{titleCase(nome.split("-").join(" "))}
    .w3-container.w3-padding
        table.w3-table-all(class="sortable")
            tr
                th Dia
                th Programa
                th Hora
                th(class="sorttable_nosort") Rating

            each programa in canal 
                tr 
                    td= programa.dia
                    td= programa.programa
                    td= programa.hora
                    td
                        a(href="javascript:rating('"+programa.programa+"')") Rating
    
    footer.w3-container.w3-teal
            a(href="/") Return


    script(type="text/javascript").
        function rating(programa) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", "/rating/"+programa, false ); // false for synchronous request

            xmlHttp.onload = function (e) {
                if (xmlHttp.readyState === 4) {
                    if (xmlHttp.status === 200) {
                        text=xmlHttp.responseText;
                        var rating = text.match(/<h1>(.*)<\/h1>/)[1];
                        alert("Rating: "+rating);
                    } else {
                        console.error(xmlHttp.statusText);
                    }
                }
            };
            xmlHttp.onerror = function (e) {
                console.error(xmlHttp.statusText);
            };
            xmlHttp.send( null );
        }
    script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")